@* Views/Home/_LinkBox.cshtml *@
<div class="link-box">
    <a asp-action="RoadCorrection" class="link-box">
        <img src="~/Content/NorskKart.png" class="img-link-box" />
        <h3>Rett opp i kartet</h3>
    </a>
</div>