@model Kartverket.Models.KommuneInfoViewModel

@{
    ViewData["Title"] = "Feilmelding til kart";
}

<div class="text-center">
    <h1 class="display-4">Melding om feil i kart</h1>
    <p>Kartverkets data er sentrale i Norges offisielle datagrunnlag og brukes i en lang rekke kart på papir og nett. Her kan du hjelpe oss med å holde kartene oppdatert.</p>

    <h4>Noen av funskjonene til denne siden vil kreve at du registrer deg! Gjør det her:</h4>
    <h3><a asp-action="RegistrationForm">Registrer deg</a> </h3>     
</div>

<script>
    function changeBackground() {
        document.getElementById('Home').style.backgroundColor = 'lightgreen';
    }
    changeBackground()
</script>