@{
    ViewData["Title"] = "Feilmelding til kart";
}

<div class="text-center">
    <h1 class="display-4">Feilmelding til kart</h1>
    <p>Kartverkets data er sentrale i Norges offisielle datagrunnlag og brukes i en lang rekke kart på papir og nett. Her kan du hjelpe oss med å holde kartene oppdatert.</p>
  
    <p> </p>

    <h4> Visse funksjoner vil kreve at du har en bruker.. Her kan du registrere deg:</a></h4>
    <h5><a asp-action="RegistrationForm">Registrer</a></h5>
    

</div>
