@{
    ViewData["Title"] = "Feilmelding til kart";
}

<div class="text-center">
    <h1 class="display-4">Feilmelding til kart</h1>
    <p>Kartverkets data er sentrale i Norges offisielle datagrunnlag og brukes i en lang rekke kart på papir og nett. Her kan du hjelpe oss med å holde kartene oppdatert.</p>
    
    <h2> Visse funksjoner vil kreve at du har en bruker.. Her kan du registrere deg: <a asp-action="RegistrationForm">Registrer</a></h2>
    

</div>
