@{
    ViewData["Title"] = "Midlerting Endringer";
}

<div class="text-center">
    <h1 class="display-4">Midlerting Endringer</h1>
    <p>Her skal det komme innmeldings skejma og Leaflet GUI til midlertidige endringer</p>

</div>