@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<script>
        function changeBackground() {
            document.getElementById('Privacy').style.backgroundColor = 'lightgreen';
        }
        changeBackground()
</script>
