@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>Information Collection and Use</h4>
<p>We collect location data to provide our mapping services and improve user experience. This data helps us improve our maps and correct any wrong data. </p>
<h4>Data Storage and Security</h4>
<p>Your data is stored securely on our servers. We implement industry-standard security measures to protect your information from unauthorized access.</p>
<h4>User Rights</h4>
<p>You have the right to access, correct, or delete your personal data. Contact us to exercise these rights.</p>
<h4>Cookies</h4>
<p>We use cookies to enhance your browsing experience and analyze site traffic.</p>
<h4>Policy Changes</h4>
<p>We may update this policy periodically. Check this page for the latest version.</p>
<h4>Contact us</h4>
<p>If you have any questions about this privacy policy, please contact us at post@kartverket.no.</p>
<br />

<script>
        function changeBackground() {
            document.getElementById('Privacy').style.backgroundColor = 'lightgreen';
        }
        changeBackground()
</script>
