@model Kartverket.Models.UserData

@{
    ViewData["Title"] = "RegistrationForm";
}

<h1 class="registration-form">Bruker Registrering</h1>

<form asp-action="RegistrationForm" method="post" class="registration-form">
    <div>
        <label asp-for="UserName">Navnet ditt:</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label asp-for="Email">Emailen din:</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="HomeMunicipality">Hjemme kommunen din</label>
        <input asp-for="HomeMunicipality" />
    </div>
    <button type="submit" class="btn btn-primary">Send Informasjon</button>
</form>




