@model Kartverket.Models.UserData

@{
    ViewData["Title"] = "Bruker Registrering";
}

<div class="page-container registration-form">
    <h1>Bruker Registrering</h1>

    <form asp-action="RegistrationForm" method="post">
        <div class="form-group">
            <label asp-for="Name">Navnet ditt:</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Emailen din:</label>
            <input asp-for="Email" class="form-control" type="email" />
        </div>
        <div class="form-group">
            <label asp-for="HomeMunicipality">Hjemme kommunen din:</label>
            <input asp-for="HomeMunicipality" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Send Informasjon</button>
    </form>
</div>