@model Kartverket.Models.UserData

@{
    ViewData["Title"] = "Bruker Registrering";
}

<div class="page-container registration-form">
    <h1>Bruker Registrering</h1>

    <form asp-action="UDOverview" method="post">
        <div class="form-group">
            <label asp-for="UserName">Brukernavn:</label>
            <input asp-for="@Model.UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Emailen din:</label>
            <input asp-for="@Model.Email" class="form-control" type="email" />
        </div>
        <div class="form-group">
            <label asp-for="HomeMunicipality">Hjemme kommunen din:</label>
            <input asp-for="@Model.HomeMunicipality" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Passord:</label>
            <input asp-for="@Model.Password" class="form-control" type="password" />
        </div>
        <button type="submit" class="btn btn-primary">Send Informasjon</button>
    </form>
</div>