@{
    ViewData["Title"] = "Rett i veier og stier";
}

<div class="text-center">
    <h1 class="display-4">Rett i veier og stier</h1>
    <p>Her skal det komme innmeldings skejma og Leaflet GUI til retting av veier og stier</p>

</div>