@{
    ViewData["Title"] = "Rett i veier og stier";
}

<div class="text-center">
    <h1 class="display-4">Rett i veger og stier</h1>
    <p>Her kan du vise til endringer i kartet</p>
</div>

<!-- Flex container for map and where you edit the changes -->
<div class="map-change-container">
    <!-- Map section -->
    
    <button id="curLocationButton">Finn min posisjon</button>
    
    <div id="map" class="map-section"></div>
    
    <!-- Description section -->
    <div class="description-section">
        <form asp-action="RegisterAreaChange" method="post">
            <input type="hidden" id="geoJsonInput" name="geoJson" />
            <div>
                <label for="description">Beskriv endringen du vil melde:</label>
                <textarea id="description" name="Description" class="form-control"></textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Send inn</button>
        </form>
    </div>
</div>


<!-- Example HTML to display kommune info -->
<div>
    <h3>Kommune Information</h3>
    <p>Kommunenavn: <span id="kommunenavn"></span></p>
    <p>Kommunenummer: <span id="kommunenummer"></span></p>
    <p>Fylkesnavn: <span id="fylkesnavn"></span></p>
    <p>Fylkesnummer: <span id="fylkesnummer"></span></p>
</div>

@section Scripts {
    <script src="~/js/leafletMap.js"></script>
    <script src="~/js/leafletDraw.js"></script>
}
