@{
    ViewData["Title"] = "Rett i veier og stier";
}

<div class="text-center">
    <h1 class="display-4">Rett i veger og stier</h1>
    <p>Her kan du vise til endringer i kartet</p>
 </div>

<div id="map"></div>

<form asp-action="RegisterAreaChange" method="post">

    <input type="hidden" id="geoJsonInput" name="geoJson" />
    <div>
        <label for="description">Beskriv endringen du vil melde:</label>
        <textarea id="description" name="Description" class="form-control"></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Send inn</button>
</form>


@section Scripts {
<script src="~/js/site.js"></script>
}