@{

}


<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />    
</head>

<div class="text-center">
    <h1 class="display-4">Rett i veger og stier</h1>
    <p>Her skal det komme innmeldings skjema og Leaflet GUI til retting av veger og stier</p>
    <div id="map"></div>
</div>

@*Lager leaflet kart. Tar i bruk størrelse definert i site.css. Og script både definert av leaflet https://leafletjs.com/examples/quick-start/ og fra site.js*@

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script> src="site.js"</script>

<script>
    function changeBackground() {
        document.getElementById('RoadCorrection').style.backgroundColor = 'lightgreen';
    }
    changeBackground()
</script>