@{
    ViewData["Title"] = "Midlerting Endringer";
}

@*Denne sidens hensikt vil være å vise til midlertidige endringer brukere vil kunne lage slik at andre brukere kan se disse.
    Intill videre er den nærmest identisk til RoadCorrection
*@


<div class="text-center">
    <h1 class="display-4">Midlerting Endringer</h1>
    <p>Her kan du sende inn endringer i kartet som kommer til å være midlertidige.</p>
    <p>Eksempler på dette kan være flomskader. Felte trær som sperrer vei, eller andre slike ting.</p>
</div>

<div class="map-change-container">

    <div id="map" class="map-section"></div>

    <div class="description-section">
        <form asp-action="RegisterAreaChange" method="post">
            <input type="hidden" id="geoJsonInput" name="geoJson" />
            <div>
                <label for="description">Beskriv den midlertidige endringen du vil melde:</label>
                <textarea id="description" name="Description" class="form-control"></textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Send inn</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/leafletMap.js"></script>
    <script src="~/js/leafletDraw.js"></script>
}
