@*
    Dette er en view for UserData Overview
*@
@{
    Layout = null;
}

<html>
   <head>
       <h1>Du har nå registrert deg</h1>
       <h2>Din informasjon:</h2>
   </head>

   <body>
       <p><strong>Navn:</strong> @Model.Name</p>
       <p><strong>Email:</strong> @Model.Email</p>
       <p><strong>Hjem Kommune:</strong> @Model.HomeMunicipality</p>

   </body>



</html>