@*
    Dette er en view for UserData Overview
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  
   <h1>Du har nå registrert deg</h1>
   <h2>Din informasjon:</h2>
  

   <body>
       <p><strong>Navn:</strong> @Model.Name</p>
       <p><strong>Email:</strong> @Model.Email</p>
       <p><strong>Din hjemme kommune:</strong> @Model.HomeMunicipality</p>

   </body>