@model Kartverket.Data.AdminPasswordUpdate

@{
    ViewData["Title"] = "Bytt Passord";
}


<h2>Bytt passord Admin</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<form asp-action="ChangePasswordAdmin" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="CaseWorkerID" />

    <div class="form-group">
        <label asp-for="NewPasswordAdmin">Nytt passord</label>
        <input asp-for="NewPasswordAdmin" class="form-control password-input" />
        <span asp-validation-for="NewPasswordAdmin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPasswordAdmin">Bekreft passord</label>
        <input asp-for="ConfirmPasswordAdmin" class="form-control password-input" />
        <span asp-validation-for="ConfirmPasswordAdmin" class="text-danger"></span>
    </div>

    <div class="form-group password-toggle-container">
        <label class="password-toggle">
            <input type="checkbox" id="togglePassword" />
            <span class="toggle-label">Vis passord</span>
        </label>
    </div>

    <div class="form-group"></div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
   
</form>

<script src="~/js/PasswordVisibility.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}