@model Kartverket.Data.User

@{
    ViewData["Title"] = "Logg Inn";
}

<div class="page-container registration-form">
    <h1>Logg Inn</h1>

    <form asp-action="LogInForm" method="post">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <strong>Error!</strong>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        }

        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Logg Inn</button>
        <div class="form-group" style="margin-top: 1rem;">
            <a href="#">Glemt passord?</a>
        </div>
        <div class="form-group" style="margin-bottom: 1rem;">
            <a href="RegistrationForm">Registrer deg!</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}