@model Kartverket.Data.Login

@{
    ViewData["Title"] = "Du har logget ut";
}

<div class="page-container registration-form">
    <h1>Logg Inn</h1>

    <form asp-action="LogInForm" method="post">
        @Html.AntiForgeryToken()
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <strong>Error!</strong>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        }

        <div class="form-group">
            <label asp-for="Mail">Email</label>
            <input asp-for="Mail" class="form-control" />
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Passord</label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Logg Inn</button>
    </form>
    <div class="registration-section">
        <a asp-action="RegistrationForm" method="post">
            <button type="submit" class="btn2 btn-secondary2">Registrer deg</button>
        </a>
    </div>
    <div class="registration-section">
        <a asp-action="Index" method="post">
            <button type="submit" class="btn2 btn-secondary2">Glemt passord?</button>
        </a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}