@model MultipleCasesModel

@{
    ViewData["Title"] = "Søk på Saker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        body.no-profile-case-search {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

            body.no-profile-case-search .container {
                flex: 1;
            }

            body.no-profile-case-search footer {
                margin-top: auto;
            }
    </style>
}

<div class="page-container">
    <h1>Søk etter sak</h1>

    <p>Her kan du søke etter en sak med å bruke saksnummer. Om du ønsker lettere tilgang til dine innmeldte saker kan du lage en konto!</p>
    
    <form asp-action="CaseSearch" asp-controller="Case" method="post">
        @Html.AntiForgeryToken()
        <label for="CaseNo">Søk på sak med saksnummer:</label>
        <input type="number" id="CaseNo" name="CaseNo" required>
        <button type="submit">Søk</button>
    </form>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
    <!-- Feilmelding -->
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
</div>
@section Scripts {
    <script>
       // Highlights current views navItem when DOM is loaded.
       // Highlights hasProfile since they share navItem
        document.addEventListener('DOMContentLoaded', function () {
            highlightNavItem('HasProfileCaseOverview');
        });
    </script>
}