/* Common container styles */
.page-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: var(--shadow-md);
    padding: 2rem;
    margin: 2rem auto;
    animation: fadeIn 0.5s ease-out;
}

.index-container, .privacy-container {
    max-width: 800px;
}

.registration-form, .ud-overview-container {
    max-width: 500px;
}
.pfp-element {
    padding-right: 1rem;
    padding-left: 2rem;
}

/* Common heading styles */
.page-container h1 {
    color: var(--primary-green);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.page-container h2 {
    color: var(--hover-green);
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}