/* Header & Navigation */
.NavHeader {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    transition: padding .1s linear, height .1s linear;
    box-shadow: var(--shadow-sm);
    border-bottom: 2px solid var(--border-gray);
    background: #ffffff;
    padding: 16px 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
    gap: 18px;
    height: 100%;
}

.kartverket-logo {
    padding-right: 1rem;
    padding-left: 0.65rem;
    transition: transform 0.2s;
}

.kartverket-logo:hover {
    transform: scale(1.05);
}
